*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/images/fon2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.header{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a i{
    font-size: 40px;
    color: white;
    text-decoration: none;
}
.logo a i:hover{
    color: yellow
}
.menu{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu:hover{
    color: yellow
}
.menu a i{
    font-size: 35px;
    color: white;
    text-decoration: none;
}
.menu a i:hover{
    color: yellow
}
.menu h1{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
}
.main hr{
    width: 90%;
    height: 1px;
    margin: 5px auto;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}
.home-main{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-main h1{
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
}   
.home-main h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 4px;
}

.home-main button{
    margin-top: 50px;
    padding: 15px 85px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    color: white;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
    font-size: 20px;
    font-weight: 900;
   
    
}

.home-main button:hover{
    background-color: white;
    color: black;
    font-weight: 900;
}
.about{
    width: 100%;
    
    background-color: white;
    padding: 70px 0;
    color: #000;
    flex-direction: column;
    text-align: center;
  
}

.h1-main{
    font: 30px 'Raleway', sans-serif ; 
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-bottom: 100px;
    position: relative;

}

.h1-main::after{
    content: "";
    width: 80px;
    height: 8px;
    position: absolute;
    background-color:rgb(30, 199, 162);
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    animation: hrline 550ms linear infinite;
}
@keyframes hrline{
    0%{
        width: 80px;
    }
    25%{
        width: 90px;
    }
    50%{
        width: 100px;
    }

    75%{
        width: 90px;
    }

    100%{
        width: 80px;
    }
}

.p-main{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 19px;
    font-weight: 100;
    color: gray;
    line-height: 25px;
}

.about img{
    width: 200px;
    margin: 40px auto;

}
.about h3{
    font: 15px sans-serif;
    font-weight: bold;
}

.wedo{
    
    width: 100%;
    background-color: white;
    padding: 70px 0;
    color: #000;
    flex-direction: column;
    text-align: center;
}

.blocks{
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.block{
    width: 32%;
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-circle{
    width: 120px;
    height: 120px;
    border: 1px solid rgb(30, 199, 162);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(30, 199, 162) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    position: relative;
}

.circle::after{
    content: "@danebaev.d";
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(22, 119, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 1s;
    
}
.circle:hover::after{
    opacity: 1;
}

.circle i{
    
    animation: icircle 1s infinite;

}    
@keyframes icircle{
    0%{
        font-size: 30px;
    }
    50%{
        font-size: 38px;
    }

    100%{
        font-size: 30px;
    }
}
.p-block{
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 30px;
}
.h1-block{
    text-transform: uppercase;
    font: 20px 'Raleway', sans-serif ; 
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin-top: 50px;
    margin-bottom: 60px;
    
}

.h1-block::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: rgb(30, 199, 162) ;
    border:1px solid rgb(30, 199, 162);
    bottom: -30px;
    right: 50%;
    transform: translateX(50%);
    animation: blockhr 500ms linear infinite;
    
}

@keyframes blockhr{
    0%{
        width: 40px;
    }
    50% {
        width: 60px;
    }
    100% {
        width: 40px;
    }
}

.expert{
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;

}
.laptop{
    width: 50%;
    height: 650px;
    background-image: url(/images/laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}

.expert-text{
    width: 40%;
    text-align: center;
    
    
}

.expert-text h1{
    width: 70%;
    margin:80px auto;
    font: 30px 'Raleway', sans-serif; 
    text-transform: uppercase;
    font-weight: 900;
    text-align: center; 
    position: relative;

}
.expert-text h1::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 8px;
    background-color:rgb(30, 199, 162) ;
    border: none;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
    animation: blockhr 500ms linear infinite;
}
.expert-text p{
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 19px;
    font-weight: 100;
    color: gray;
    line-height: 35px;

}

.bar{
    width: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}
.bar li:nth-of-type(1){
    width: 20px;
    height: 20px;
    background-color: rgb(30, 199, 162) ;
    border-radius: 50%;
}

.bar li:nth-of-type(2){
    width: 15px;
    height: 15px;

    background-color: rgb(30, 199, 162) ;
    border-radius: 50%;
}

.fraze{
    width: 100%;
    height: 450px;
    
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/images/rabochiy\ fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.fraze h1{
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 900;
}
.fraze i{
    margin:40px auto;
    font-size: 40px;
}

.fraze h3{
    margin:10px auto;
    font-size: 25px;
}
.workstation{
    width: 100%;
    background-color: white;
    padding: 70px 0;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.block-img{
    width: 100%;
    margin-top: 0;
    position: relative;
}
.block-img img{
    width: 100%;
    
}

.block-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border:none;
    background-color: rgba(0,0,0,0.7);
    transition: 600ms;
    opacity: 0;
}

.block-img:hover::before{
    opacity: 1;
}

.block-img:hover::after{
    opacity: 1;
    font-size: 40px;
}

.block-img::after{
    content: "@danebaev.d";
    position: absolute;
    border:none;
    top:30%;
    left:50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif; 
    transition: 600ms;
    opacity: 0;
}

.video{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(80,0,0,0.5),rgba(80,0,0,0.5)), url(/images/wave.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.video i{
    margin: 20px;
    font-size: 90px;
}
.video i:hover{
    color: red
}

.members{
    width: 100%;
    
    background-color: white;
    padding: 70px 0;
    color: #000;
    flex-direction: column;
    text-align: center;
}

.icons{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    
}

.icons a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    
}
.icon{
    
    background-color: rgb(30, 199, 162);
    width: 50px;
    height: 50px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    animation: icircle 1s infinite;
}

.icon:hover{
    animation: icircle 1s infinite;
    background-color: rgb(19, 116, 95);
}

.subscribe{
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/images/lotka.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.subscribe-form{
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    
}

.subscribe-form input[type=email]{
    padding: 18px 10px;
    font: 30px 'Dancing Script', cursive;
    background: transparent;
    width: 40%;
    border: 2px solid #fff;
    color: #fff;
    outline: none

}
.subscribe-form input[type=email]::placeholder{
    color: white;
    font: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    
    
}

.subscribe-form input[type=submit]{
    padding: 18px 10px;
    margin-left: 10px;
    font: 30px 'Dancing Script', cursive;
    background: #fff;
    width: 30%;
    border: 2px solid #fff;
    color: #000;
    cursor: pointer;
    font-weight: 900;

}

.subscribe-form input[type=submit]:hover{
    color: white;
    font: 40px;
    font-family: 'Dancing Script', cursive;
    background-color: rgb(30, 199, 162) ;
    border: 2px solid rgb(30, 199, 162) ;
    outline: none;
    font-weight: 900;
}

.contact{
    width: 100%;
    padding: 70px 0;
}

.contact-i{
    font-size: 35px;
    color: rgb(30, 199, 162);   
}

.footer{
    width: 100%;
    padding: 70px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
}